# Aqaar Dataset

## dataset link 

https://www.kaggle.com/datasets/myfaisal/riyadh-aqaar-dataset

In [3142]:
#improt libraries
import pandas as pd 
import numpy as np 
import seaborn as sns 
import matplotlib.pyplot as plt

In [3143]:
#read csv file
df=pd.read_csv(r"C:\Users\Lenovo\Downloads\Riyadh_RealEstate.csv")

In [3144]:
#shape of dataframe
df.shape

(2986, 22)

In [3145]:
#display statistical summary
df.describe()

       السعر الاجمالي
count    2.986000e+03
mean     4.251729e+06
std      2.660377e+07
min      1.400000e+03
25%      1.002512e+06
50%      1.800000e+06
75%      3.000000e+06
max      8.930250e+08

In [3146]:
#display data types of columns 
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2986 entries, 0 to 2985
Data columns (total 22 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   نوع العقار      2986 non-null   object
 1   الغرض           2986 non-null   object
 2   المدينة         2986 non-null   object
 3   الحي            2986 non-null   object
 4   الواجهة         2986 non-null   object
 5   المساحة         2986 non-null   object
 6   سعر المتر       2986 non-null   object
 7   عدد الغرف       2986 non-null   object
 8   عدد الصالات     2986 non-null   object
 9   عدد الحمامات    2986 non-null   object
 10  عرض الشارع      2986 non-null   object
 11  درج صالة        2986 non-null   object
 12  مطبخ            2986 non-null   object
 13  غرفة خادمة      2986 non-null   object
 14  غرفة سائق       2986 non-null   object
 15  ملحق            2986 non-null   object
 16  حوش             2986 non-null   object
 17  مسبح            2986 non-null   object
 18  قبو             2986 non-null   object
 19  مدخل سيارة      2986 non-null   object
 20  مصعد            2986 non-null   object
 21  السعر الاجمالي  2986 non-null   int64
dtypes: int64(1), object(21)
memory usage: 513.3+ KB

In [3147]:
#check value counts of columns
for col in df.columns :
    print("#"*30)
    print(f"Vale counts of column {col} : ")
    print(df[col].value_counts())

##############################
Vale counts of column نوع العقار :
أرض     1896
فيلا    1090
Name: نوع العقار, dtype: int64
##############################
Vale counts of column الغرض :
سكني           2412
تجاري وسكني     404
تجاري           170
Name: الغرض, dtype: int64
##############################
Vale counts of column المدينة :
 الرياض                  2218
 امارة منطقة الرياض       382
 حريملاء                  231
 الرياض                    60
 الدرعية                   40
13843                       9
 حي عريض                    8
 حي قرطبة                   7
 رماح                       5
 حي العريجاء الغربية        3
 الجبيلة                    3
 حي الرمال                  3
                            3
 حي المهدية                 2
 العيينة                    2
 ضرما                       2
 حي الازدهار                2
 حي السلي                   1
 حي النخيل                  1
 حي ظهرة لبن                1
 الخرج                      1
 حي العارض                  1
 حي القيروان                1
Name: المدينة, dtype: int64
##############################
Vale counts of column الحي :
 الرياض            653
 حي النرجس         162
 حي المهدية        146
 حي الرمال         141
 حي ظهرة لبن       104
                  ...
 حي العين            1
 حي الخالدية         1
 حي الملقا7541       1
 حي الوزارات         1
 حي المشاعل          1
Name: الحي, Length: 162, dtype: int64
##############################
Vale counts of column الواجهة :
شمالية          703
جنوبية          691
غربية           490
شرقية           488
شمالية شرقية    126
جنوبية شرقية    119
جنوبية غربية    118
شمالية غربية    109
ثلاث شوارع       84
-                31
أربع شوارع       27
Name: الواجهة, dtype: int64
##############################
Vale counts of column المساحة :
375     170
900     163
750     157
450     138
300     121
       ...
562       1
1110      1
7861      1
445       1
1608      1
Name: المساحة, Length: 616, dtype: int64
##############################
Vale counts of column سعر المتر :
-       1090
4000      60
3000      55
1000      53
2500      43
        ...
956        1
2255       1
5700       1
1868       1
809        1
Name: سعر المتر, Length: 414, dtype: int64
##############################
Vale counts of column عدد الغرف :
-     1993
5      397
7+     267
4      163
6      118
3       33
1       10
2        5
Name: عدد الغرف, dtype: int64
##############################
Vale counts of column عدد الصالات :
-     2019
2      433
3      280
1      126
4       76
5       48
7+       4
Name: عدد الصالات, dtype: int64
##############################
Vale counts of column عدد الحمامات :
-     1993
5+     796
4      133
3       51
2        8
1        5
Name: عدد الحمامات, dtype: int64
##############################
Vale counts of column عرض الشارع :
-     2521
15     175
20     162
18      29
25      26
5       23
12      15
10       9
30       7
21       6
16       4
17       2
40       2
14       2
26       1
8        1
19       1
Name: عرض الشارع, dtype: int64
##############################
Vale counts of column درج صالة :
-    1896
1     764
0     326
Name: درج صالة, dtype: int64
##############################
Vale counts of column مطبخ :
-    1896
1     868
0     222
Name: مطبخ, dtype: int64
##############################
Vale counts of column غرفة خادمة :
-    1896
1     760
0     330
Name: غرفة خادمة, dtype: int64
##############################
Vale counts of column غرفة سائق :
-    1896
0     697
1     393
Name: غرفة سائق, dtype: int64
##############################
Vale counts of column ملحق :
-    1896
1     594
0     496
Name: ملحق, dtype: int64
##############################
Vale counts of column حوش :
-    1896
1     780
0     310
Name: حوش, dtype: int64
##############################
Vale counts of column مسبح :
-    1896
0    1000
1      90
Name: مسبح, dtype: int64
##############################
Vale counts of column قبو :
-    1896
0    1052
1      38
Name: قبو, dtype: int64
##############################
Vale counts of column مدخل سيارة :
-    1896
1     852
0     238
Name: مدخل سيارة, dtype: int64
##############################
Vale counts of column مصعد :
-    1896
0     795
1     295
Name: مصعد, dtype: int64
##############################
Vale counts of column السعر الاجمالي :
3000000     50
2000000     46
1500000     40
2200000     38
2500000     38
            ..
6210000      1
6250000      1
42962160     1
3465000      1
849450       1
Name: السعر الاجمالي, Length: 1330, dtype: int64

# removing duplicated

In [3148]:
# Remove duplicate rows based on some features columns and keep the first duplicate row
df = df.drop_duplicates(subset=['سعر المتر', 'المساحة','السعر الاجمالي','الغرض'], keep='first')

# change the data type

In [3149]:
#replace the postiton of "المدينة" values if it contains "حي" to the column "الحي"
df['الحي'] = np.where(df['المدينة'].str.contains("حي"), df['المدينة'], df['الحي'])

In [3150]:
#remove spaces
df['الحي']=df['الحي'].apply(lambda x:x.strip())
df['المدينة']=df['المدينة'].apply(lambda x:x.strip())

In [3151]:
#change the value of 'امارة منطقة الرياض' to 'الرياض'
df.loc[df['المدينة'].str.contains("امارة منطقة الرياض"),'المدينة']="الرياض"

df['الحي'] = df['الحي'].replace(['الرياض','امارة منطقة الرياض'], 'Not Provided')
#repace int values in 'المدينة' to 'الرياض'
df['المدينة']=df['المدينة'].replace('13843','الرياض')

In [3152]:
#check the unqiue values of 'الحي' column
neighorhood=df['الحي'].unique()
neighorhood.sort()
neighorhood

array(['', 'Not Provided', 'العيينة', 'القرينة', 'القرينه', 'المغرفية',
       'حي أم الحمام الغربي', 'حي احد', 'حي اشبيلية', 'حي الازدهار',
       'حي الاسكان', 'حي الاندلس', 'حي البديعة', 'حي البرية', 'حي البيان',
       'حي التعاون', 'حي الجزيرة', 'حي الجنادرية', 'حي الحائر',
       'حي الحزم', 'حي الحمراء', 'حي الخالدية', 'حي الخليج', 'حي الخير',
       'حي الدار البيضاء', 'حي الدفاع', 'حي الربوة', 'حي الربيع',
       'حي الرحمانية', 'حي الرفيعة', 'حي الرمال', 'حي الروابي',
       'حي الروضة', 'حي الريان', 'حي الزاهر', 'حي الزهراء', 'حي الزهرة',
       'حي السعادة', 'حي السلام', 'حي السلي', 'حي السليمانية',
       'حي السويدي', 'حي السويدي الغربي', 'حي الشرق', 'حي الشعلة',
       'حي الشفا', 'حي الشهداء', 'حي الصحافة', 'حي الصفا',
       'حي الصناعية القديمة', 'حي الضباط', 'حي العارض',
       'حي العريجاء الغربي', 'حي العريجاء الغربية', 'حي العريجاء الوسطى',
       'حي العزيزية', 'حي العقيق', 'حي العلا', 'حي العليا', 'حي العوالي',
       'حي العين', 'حي الغدير', 'حي الغنامية', 'حي الفاروق', 'حي الفلاح',
       'حي الفيحاء', 'حي القادسية', 'حي القدس', 'حي القيروان',
       'حي المحمدية', 'حي المربع', 'حي المرسلات', 'حي المروة',
       'حي المروج', 'حي المشاعل', 'حي المشرق', 'حي المصانع', 'حي المصفاة',
       'حي المصيف', 'حي المعيزلة', 'حي المعيزيلة', 'حي المغرزات',
       'حي الملز', 'حي الملقا', 'حي الملقا7541', 'حي الملك عبد العزيز',
       'حي الملك عبدالعزيز', 'حي الملك عبدالله', 'حي الملك فهد',
       'حي الملك فيصل', 'حي المناخ', 'حي المنار', 'حي المنصورة',
       'حي المنصورية', 'حي المهدية', 'حي المونسية', 'حي الناصرية',
       'حي النخيل', 'حي الندوة', 'حي الندى', 'حي النرجس', 'حي النزهة',
       'حي النسيم الشرقي', 'حي النسيم الغربي', 'حي النظيم', 'حي النفل',
       'حي النهضة', 'حي الهدا', 'حي الوادي', 'حي الوزارات', 'حي الياسمين',
       'حي اليرموك', 'حي اليمامة', 'حي ام سليم', 'حي بدر', 'حي بنبان',
       'حي ثليم', 'حي جامعة الملك سعود', 'حي جرير', 'حي حطين',
       'حي خشم العان', 'حي سلطانة', 'حي شبرا', 'حي صلاح الدين',
       'حي ضاحية نمار', 'حي طويق', 'حي طيبة', 'حي ظهرة البديعة',
       'حي ظهرة لبن', 'حي ظهرة نمار', 'حي عرقة', 'حي عريض', 'حي عقرباء',
       'حي عكاظ', 'حي عليشة', 'حي غرناطة', 'حي قرطبة', 'حي لبن',
       'حي مطار الملك خالد الدولي', 'حي منفوحة', 'حي منفوحة الجديدة',
       'حي نمار', 'حي هجرة لبن', 'سدوس', 'ضاحية نمار', 'ضرما', 'ملهم'],
      dtype=object)

In [3153]:
#correcting data 
def change(x):
    if "ضاحية نمار" in x:
        return "حي ضاحية نمار"
    elif "المعيزلة" in x or 'المعيزيلة' in x:
        return "حي المعيزيلة"
    elif "الملقا" in x:
        return "حي الملقا"
    elif "العريجاء الغربية" in x or "العريجاء الغربي" in x :
        return "حي العريجاء الغربي" 
    elif 'الملك عبد العزيز' in x :
        return "حي الملك عبدالعزيز"
    elif 'القرينة' in x or 'القرينه' in x :
        return 'القرينة'
    else :
        return x

In [3154]:
#apply the function to 'الحي' to correct some data 
df['الحي']=df['الحي'].apply(change)

In [3155]:
#change the vlaues of 'المدينة' to 'الرياض' if not in vill
vill=['حريملاء','ضرما','ملهم','الخرج','رماح','الدرعية','الجبيلة','العيينة']

df.loc[~df["المدينة"].isin(vill), "المدينة"] = "الرياض"

In [3156]:
#replacing the value of 'المدينة' if it contains 'الدرعية ' to 'الحي' column
df['المدينة'][df['المدينة'] == 'الدرعية'] = df['الحي']
df.loc[df['المدينة']==df['الحي'],'الحي']='Not Provided'
df=df.drop(2883)

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_26392\3722085130.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['المدينة'][df['المدينة'] == 'الدرعية'] = df['الحي']

In [3157]:
#reset df after the preprocessing steps
df.reset_index(drop=True, inplace=True)

Names of north neighourhood

In [3158]:
#الشمال


north=[
   
    "الربيع",
"الندى",
"الصحافة",
"النرجس",
"العارض",
"النفل",
"العقيق",
"الوادي",
"الغدير",
"الياسمين",
"الفلاح",
    'الخير',
"بنبان",
"القيروان",
"حطين",
"الملقا",
    'المحمدية',
 "العليا",
"السليمانية",
"الملك عبدالعزيز ",
 "الملك عبدالله",
"الورود",
"صلاح الدين",
"الملك فهد",
"المرسلات",
"النزهة",
"المغرزات",
"المروج",
"المصيف",
"التعاون",
"الإزدهار",
    'العارض',
'جامعة الملك سعود',
    'النخيل',
    'الرحمانية'

   
   
   
    ]


north = [item.strip() for item in north]

Names of east neighourhood

In [3159]:
#الشرق

east=[
     
    "النسيم الشرقي"
"النسيم الغربي",
 'الربوة',
"السلام",
"الريان",
"الروابي",
"النظيم",
"المنار",
"الندوة",
         'المعيزيلة',
     "خشم العان",
    'الحمراء',
"الدفاع",
"المناخ",
"السلي",
"النور",
"الإسكان",
"الصناعية الجديدة" ,
"الفيحاء",
"الجزيرة",
"السعادة",
"هيت",
"البرية",
"المشاعل",
'مطار الملك خالد الدولي',
     
    'الشرق',
    'الغنامية',
    
 'الرماية',
 'الجنادرية',
 'الندوة',
 'المرجان',
 'الوسام',
 'البيان',
 'الرحاب',
 'النخبة',
 'المشرق',
 'التضامن',
 'الزاهر',
 'العلا',
' الشعلة',
' الزهور',
' الرسالة',
' الراية',
' المجد',
'النسيم الغربي',
    'النسيم الشرقي',
' الدانة',
' الفرسان',
' السحاب',
 'اشبيلية',
 'غرناطة',
 'الشهداء',
 'النهضة',
 'الروضة',
 'الأندلس',
    'الاندلس',
 'الخليج',
 'قرطبة',
 'اليرموك',
 'الرمال',
 'الملك فيصل',
 'القدس',
 'القادسية',
 'المعزيلة',
 'المونسية',
'الجزيرة',
 'النور',
 'الفيحاء',
 'الدفاع',
 'المناخ',
 'السلي',
 'البرية',
 'المشاعل',
 'المناخ',
 'الإسكان',
 'السعادة',
'السلام',
'الروابي',
      'الصفا',
    'النظيم'
     
    ]


east = [item.strip() for item in east]

Names of west neighourhood

In [3160]:
#الغرب

west=[
     "السويدي"  
"ظهرة البديعة" ,
"سلطانة"  ,
"الدريهمية",  
"العريجاء الوسطى"  ,
"العريجاء"  ,
"السويدي الغربي" ,
"العريجاء الغربي",
  "شبرا" ,
"لبن"  ,
"الخزامي",
  "السفارات",
 "المهدي" ,
 "ظهرة لبن" ,
    'الزهرة',
 "العوالي" ,
 "نمار" ,
 "طويق" ,
 "ديراب" ,
 "ضاحية نمار" ,
  "المؤتمرات" ,
 "النموذجية" ,
 "الشميسي" ,
 "صياح" ,
 "أم سليم" ,
    'هجرة لبن',
 "البديعة" ,
"الوشام",
"الناصرية" ,
"عليشة" ,
 "الرفيعة",
 "المعذر" ,
 "الفاخرية",
 "الجرادية",
 "الشرفية" ,
 "الهدا" ,
 "الزهرة"
    'الازدهار',
    'الزهراء',
'ام الحمام الغربي',
'أم الحمام الغربي',

'السويدي',

'سلطانة',
'العريجاء',
 'شبرا',
 'لبن',
'ظهرة لبن',
'الخزامي',
'السفارات',
'المهدي',
'العوالي',
'نمار',
'طويق',
'ديراب',
    'ظهرة نمار',
    'ضاحية نمار',
    'المهدية',
    'ظهرةالبديعة'
    
]



west=[item.strip() for item in west]

Names of south neighourhood

In [3161]:
#الجنوب
south=[
   'الشفاء', 
    'الشفا',
    'بدر',
    'المروة',
    'الفواز',
    'منفوحة',
    'الحزم',
    'الغزيزية', 
    'الدار البيضاء',
    'المنصورة',
    'نمار',
    'شبرا',
    'منفوحة الجديدة',
    'اليمامة',
     'المصانع', 
    'المصفاة',
    'طيبة',
    'الفاروق',
    'بن تركي',
    'السويدي' ,
    'الشميسي' ,
    'الحاير' ,
    'الشعلان',
    'الجنوب',
    'عكاظ',
    'عريض',
    'الحائر',
    'الصناعية القديمة'
    
    
]


south = [item.strip() for item in south]

Names of center neighourhood

In [3162]:
center=[
    'المربع',
     'المرقب', 
    'البطحاء',
    'الديرة' ,
    'الصالحية',
    'الملز' ,
    'الضباط',
    'الفاخرية',
    'الخالدية',
    'المنصورية',
    'ام سليم',
    'الوزارات',
    'جرير'
]

center = [item.strip() for item in center]

In [3163]:
#grouping values of 'الحي' to 'منطقة الحي' through the function category 
def categorty(x):
            x=(x.partition('حي')[2]).strip()

            if x in north : 
                return "الشمال"
            elif x in east :
                return "الشرق"
            elif x in west:
                return "الغرب"
            elif x in south :
                return "الجنوب"
            elif x in center :
                return "وسط الرياض"
            else :
                return None

In [3164]:
#apply function to df['الحي']
df['منطقة الحي']=df['الحي'].apply(categorty)

# split the df to : Houses and Lands

In [3165]:
#keep only the rows that 'المدينة' column value is 'الرياض'
df = df[df["المدينة"]=='الرياض']

In [3166]:
df_house=df[df['نوع العقار']=='فيلا']
df_land=df[df['نوع العقار']=='أرض']

In [3167]:
#remove unwanted columns 
df_house=df_house.drop('سعر المتر',axis=1)

In [3168]:
#replace the missing data with Not Provided
df_house['عرض الشارع'].replace('-','Not Provided',inplace=True)

In [3169]:
#remove unnecessary features from df_land 
df_land=df_land[['منطقة الحي','نوع العقار','الغرض','المدينة','الحي','الواجهة','المساحة','سعر المتر','السعر الاجمالي']]

In [3170]:
#export all 3 files
df.to_csv(r"C:\Users\Lenovo\Documents\AqaarDatasetCleaned.csv")
df_house.to_csv(r"C:\Users\Lenovo\Documents\AqaarDataset_houses.csv")
df_land.to_csv(r"C:\Users\Lenovo\Documents\AqaarDataset_land.csv")